VITE_API_URL=https://intex-backend.onrender.com
SUPABASE_DB_PASSWORD=filipinogoodvietnambad
SUPABASE_DB_URL=https://mfuxcubehnsiqlxokpqs.supabase.co
SUPABASE_CONNECTION_STRING=postgresql://postgres:@db.mfuxcubehnsiqlxokpqs.supabase.co:5432/postgres